{% extends 'main.html' %}  
{% load static %}
{% block content %}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="{% static 'home_style.css' %}">
</head>
    <body>
        <input type="checkbox" id="active">
        <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
        <div class="wrapper">
    <ul>
    <li><a href="{% url 'create-post' %}">Create Post</a></li>
    {% for post in posts %}
    <li><a href="{% url 'post' post.id %}">{{post.post_name}}</a></li>
    {% endfor %} 
    </ul>
    </div>
    </body>

    

{% endblock content %}   



